<aside x-data="sidebar"
       class="menu bg-base-200 h-screen space-y-5 px-5 py-2.5">
  <div class="flex items-center justify-end">
    <button :data-tip="tooltip"
            @click="toggleSidebar"
            class="btn btn-ghost btn-square tooltip">
      <iconify-icon :icon="icon">
      </iconify-icon>
    </button>
  </div>
  <ul class="space-y-2.5">
    {% for link in links %}
      <li>
        <a href="{{ link.url }}"
           class="btn {% if request.path == link.url %}btn-primary{% endif %}">
          <iconify-icon icon="{{ link.icon_name }}">
          </iconify-icon>
          <span x-show="sidebarOpen">
            {{ link.label }}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
