{# vim: set filetype=htmldjango #}
<c-layouts.base title="Login">
  <main class="flex min-h-screen items-center justify-center">
    <div class="space-y-5 rounded-lg border p-10 shadow-md">
      <h1 class="text-center text-2xl font-bold">
        Login Page
      </h1>
      <form action="{{ request.path }}" method="post" class="space-y-2.5">
        {% csrf_token %}
        <c-form.input :field="form.username" />
        <c-form.input :field="form.password" />
        <c-form.checkbox :field="form.stay_logged_in" />
        <button type="submit">
          Login
        </button>
      </form>
    </div>
  </main>
</c-layouts.base>
