---
import { z } from "astro/zod";
import Layout from "../layouts/Layout.astro";
import { $isLoggedIn } from "../stores";

const loginFormSchema = z.object({
  email: z.string().email(),
  password: z.string(),
});

if (Astro.request.method === "POST") {
  if ($isLoggedIn.get()) {
    $isLoggedIn.set(false);
  } else {
    try {
      const data = await Astro.request.formData();
      const result = await loginFormSchema.safeParseAsync(Object.fromEntries(data.entries()));
      if (!result.success) {
        console.error(result.error);
      }
      $isLoggedIn.set(true);
      console.log(result.data);
    } catch (error) {
      if (error instanceof Error) {
        console.error(error);
      }
    }
  }
}
---

<Layout>
  <h1>
    Status: {
      $isLoggedIn.get() ? <span class="text-green-5">Logged In</span> : <span class="text-red-5">Not Logged In</span>
    }
  </h1>
  {
    $isLoggedIn.get() ? (
      <form method="post">
        <button>Log out</button>
      </form>
    ) : (
      <form method="post" class="space-y-sm">
        <h1>Login Form</h1>
        <div class="flex flex-col space-y-sm">
          <label for="email">
            Email Address:
            <input type="text" id="email" name="email" required />
          </label>
          <label for="password">
            Password:
            <input type="password" id="password" name="password" required />
          </label>
        </div>
        <button type="submit">Sign In</button>
      </form>
    )
  }
</Layout>
