{# vim: set filetype=htmldjango #}
<c-vars title />
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - ERP</title>
    {% tailwind_css %}
  </head>
  <body>
    {{ slot }}
    <script defer src="{% static "node_modules/alpinejs/dist/cdn.min.js" %}"></script>
    <script src="{% static "node_modules/iconify-icon/dist/iconify-icon.min.js" %}"></script>
    <script src="{% static "node_modules/flowbite/dist/flowbite.min.js" %}"></script>
    <script type="application/javascript">
      import {
        initFlowbite
      } from 'flowbite';

      initFlowbite();
    </script>
  </body>
</html>
